#pets {
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid white;
    background-color: silver;
    width: 95%;
}

#pets td, #pets th {
    border: 1px solid white;
    padding: 5px;
    color: black;
}

#pets a {
    color: black;
}

#pets tr:hover {background-color: slategray}

#pets th {
    height: 50px;
    text-align: center;
    background-color: gray;
    color: white;
}