label{
    color: burlywood;
    font-size: 15px;
    font-style: italic;
}

input[type=text],[type=password] {
    width: 45%;
}

input[type=submit] {
    width: 25%;
    background-color: burlywood;
    border: solid burlywood;
    font-weight: bold;
    padding-left: 10px;

}

input[type=submit]:hover {
    background-color: antiquewhite;
    border: solid antiquewhite;
    transition-duration: 0.7s;

}

/*form {*/
/*    border-style: solid;*/
/*    border-width: 2px;*/
/*    border-color: black;*/
/*    border-radius: 25px;*/
/*    padding: 10px 1px 10px 30px;*/

/*}*/
