label{
    color: whitesmoke;
}

input[type=text],[type=password] {
    width: 45%;

}

input[type=submit] {
    position: fixed;
    left: 305px;
    bottom: 47px;
    width: 10%;
    background-color: navajowhite;
    border: solid navajowhite;
    font-weight: bold;

}

input[type=submit]:hover {
    background-color: antiquewhite;
    border: solid antiquewhite;
    transition-duration: 0.7s;

}
