header {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

nav {
    font-size: 22px;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    display: inline;
    /*padding-left: 10px;*/
}

a:link, a:visited {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

login {
    margin-left: 8em;
    background-color: Transparent;
    background-repeat: no-repeat;
    color: white;
    text-align:  center;
    width:  175px;
    border:  2px solid white;
    overflow: hidden;
    outline:none;
    transition-duration: 0.4s;
    padding: 5px;
}

signup {
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width:  175px;
    border:  2px solid white;
    overflow: hidden;
    outline:none;
    transition-duration: 0.4s;
    padding: 5px;
}

signup:hover {
    background-color: white;
    color: goldenrod;
    font-weight: bold;
}

login:hover {
    background-color: white;
    color: goldenrod;
    overflow: hidden;
    font-weight: bold;

}


